@import "reset";
@import "variables";
@import "header.module";
@import "bundles.module";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Inter", sans-serif;
  min-height: 100dvh;
  background: linear-gradient(
    345deg,
    rgba(32, 44, 46, 1) 0%,
    rgba(52, 93, 60, 1) 100%
  );

  &::before,
  &::after {
    content: url("../assets/bgVector.svg");
    position: absolute;
    top: 2%;
    z-index: -1;
    @media (max-width: 600px) {
      display: none;
    }
  }
  &::before {
    transform: rotateY(180deg);
    left: 0;
  }
  &::after {
    right: 0;
  }
}

.container {
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
}
